# CodeIgniter gitignore
/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess

/application/logs/*
!/application/logs/index.html

/application/ci_session/*
!/application/ci_session/index.html

/user_guide/
/system/
.ftpquota
error_log
php.ini
*.sql
*.zip
*.log